    *{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        font-family: Arial, Helvetica, sans-serif;
        user-select: none;
    }
    #logo_img{
        width: 14%;
        margin-left: 20px;
        margin-top: 3px
    }
    #header_login{
        width: 86%px;
        float: right;
        text-align: right;
        padding-top: 27px;
        padding-right: 39px;
        margin: 0  auto;
    }
    #header_login a{
        text-decoration: none;
        margin-bottom: 23px;
        padding: 7px 17px;
        background-color: #e50914;
        color: white;
        font-weight: 650;
        border-radius: 5px;
    }
    .our-story-card-title{
        font-size: 3.0rem;
        text-align: center;
        color: white;
    }
    .our-story-card-subtitle{
        font-size: 2.0rem;
        text-align: center;
        color: white;
        margin: 16px 155px;
        font-weight: 400;
    }
    .aridai{
        text-align: center;
    }
    .email-form-title{
        color: white;
        padding-bottom: 20px;
        font-weight: 400;
        font-size: 20px;
    }
    #id_email_hero_fuji{
        min-width: 450px;
        min-height: 60px;
        padding-left: 9px;
        font-size: 20px;
        
    }
    #btn_red{
        width: 214.06px;
        height: 60px;
        text-decoration: none;
        background-color: #e50914;
        color: white;
        text-align: center;
        margin-bottom: 31px;
        border: solid 0px ;
        margin-top: 12px;

    }
    #btn_red{
        font-size: 23px;
        font-weight: 500;
    }
    #selector{
        border-radius: 1px;
        text-align: center;
        margin-right: 24px;
        height: 36.19px;
        width: 96px;
        border-color: white;
        border-radius: 0px;
        background:none;
        color: white;
    }
    #select_1{
       background-color: gray;
       font-size: 14px;
    }
